<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 관리</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-center</> bg-light">
    <h1 class="mb-3" th:align="center"><b>상품 관리</b></h1>
    <h2 class="mb-3" th:align="center">관리자 전용 상품 관리 페이지</h2>
</div>

<div class="container">

    <button type="button" id="create-btn"
            th:onclick="|location.href='@{/product/add}'|"
            class="btn btn-secondary btn-sm mb-3">상품 추가</button>

    <div class="row-6" th:each="product : ${products}">
        <div class="card">
            <div class="card-header" th:text="${product.id}">
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${product.title}"></h5>
                <p class="card=text" th:text="${product.content}"></p>
                <a th:href="@{/product/update(id=${product.id})}" class="btn btn-primary">수정</a>
                <a th:href="@{/product/delete(id=${product.id})}" class="btn btn-primary">삭제</a>
            </div>
        </div>
        <br>
    </div>
</div>
</body>
</html>